.intro__text {
  max-width: 690px;
  margin: 40px 0 33px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: calc(720 / 768 * 100%);
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    max-width: calc(288 / 320 * 100%);
  }
}